//
//  Config.xcconfig
//  NativeBazaar
//
//  Copyright © 2020 Facebook. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "env.xcconfig"
#include "Pods/Target Support Files/Pods-NativeBazaar/Pods-NativeBazaar.debug.xcconfig"
